In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv("train.csv")
df1 = df.copy()
df

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(7)
memory usage: 891.5+ KB

In [4]:
df.isnull().sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

In [5]:
#df.dropna(inplace=True)

In [6]:
df1['CryoSleep'].fillna(0.5 , inplace=True)
df1['VIP'].fillna(0.5 , inplace=True)
df1['Destination'].fillna('Unknown' , inplace=True)
df1['HomePlanet'].fillna('Unknown' , inplace=True)

In [7]:
df1['Age'].fillna(df1['Age'].mean() , inplace=True)
df1['RoomService'].fillna(df1['RoomService'].mean() , inplace=True)
df1['ShoppingMall'].fillna(df1['ShoppingMall'].mean() , inplace=True)
df1['Spa'].fillna(df1['Spa'].mean() , inplace=True)
df1['VRDeck'].fillna(df1['VRDeck'].mean() , inplace=True)
df1['FoodCourt'].fillna(df1['FoodCourt'].mean() , inplace=True)

In [8]:
df1.isnull().sum()

PassengerId       0
HomePlanet        0
CryoSleep         0
Cabin           199
Destination       0
Age               0
VIP               0
RoomService       0
FoodCourt         0
ShoppingMall      0
Spa               0
VRDeck            0
Name            200
Transported       0
dtype: int64

In [9]:
df1 = pd.get_dummies(df1 ,columns=[ 'HomePlanet','CryoSleep','VIP','Transported','Destination'], drop_first=True)
df1

,PassengerId,Cabin,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,HomePlanet_Europa,HomePlanet_Mars,HomePlanet_Unknown,CryoSleep_0.5,CryoSleep_True,VIP_0.5,VIP_True,Transported_True,Destination_PSO J318.5-22,Destination_TRAPPIST-1e,Destination_Unknown
0,0001_01,B/0/P,39.0,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,1,0,0,0,0,0,0,0,0,1,0
1,0002_01,F/0/S,24.0,109.0,9.0,25.0,549.0,44.0,Juanna Vines,0,0,0,0,0,0,0,1,0,1,0
2,0003_01,A/0/S,58.0,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,1,0,0,0,0,0,1,0,0,1,0
3,0003_02,A/0/S,33.0,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,1,0,0,0,0,0,0,0,0,1,0
4,0004_01,F/1/S,16.0,303.0,70.0,151.0,565.0,2.0,Willy Santantines,0,0,0,0,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,A/98/P,41.0,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,1,0,0,0,0,0,1,0,0,0,0
8689,9278_01,G/1499/S,18.0,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,0,0,0,0,1,0,0,0,1,0,0
8690,9279_01,G/1500/S,26.0,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,0,0,0,0,0,0,0,1,0,1,0
8691,9280_01,E/608/S,32.0,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,1,0,0,0,0,0,0,0,0,0,0
8692,9280_02,E/608/S,44.0,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,1,0,0,0,0,0,0,1,0,1,0

In [10]:
df1.corr()

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,HomePlanet_Europa,HomePlanet_Mars,HomePlanet_Unknown,CryoSleep_0.5,CryoSleep_True,VIP_0.5,VIP_True,Transported_True,Destination_PSO J318.5-22,Destination_TRAPPIST-1e,Destination_Unknown
Age,1.000000,0.067612,0.127937,0.032655,0.120992,0.099210,0.217444,0.016081,-0.000361,-0.010071,-0.070736,-0.009462,0.091574,-0.074249,-0.028247,-0.001036,0.012990
RoomService,0.067612,1.000000,-0.015521,0.052962,0.009925,-0.019207,-0.067476,0.245451,-0.004954,-0.001508,-0.243986,0.013963,0.056595,-0.242048,-0.062828,0.061162,-0.003900
FoodCourt,0.127937,-0.015521,1.000000,-0.013934,0.220587,0.224275,0.365500,-0.124781,-0.018672,0.000281,-0.205682,-0.001681,0.126006,0.046074,-0.065542,-0.073620,-0.010244
ShoppingMall,0.032655,0.052962,-0.013934,1.000000,0.013678,-0.007189,-0.021019,0.111257,-0.007951,-0.007155,-0.206366,-0.019823,0.018483,0.010019,-0.031397,0.032770,-0.005714
Spa,0.120992,0.009925,0.220587,0.013678,1.000000,0.147957,0.266323,-0.088140,-0.010697,-0.004656,-0.198392,-0.008187,0.060573,-0.218791,-0.053428,-0.034492,0.007020
VRDeck,0.099210,-0.019207,0.224275,-0.007189,0.147957,1.000000,0.282118,-0.111875,-0.002694,-0.001327,-0.193107,-0.001254,0.123092,-0.204825,-0.045454,-0.046643,-0.010716
HomePlanet_Europa,0.217444,-0.067476,0.365500,-0.021019,0.266323,0.282118,1.000000,-0.287022,-0.087673,0.008236,0.093395,-0.013747,0.147008,0.176916,-0.163308,-0.149679,-0.014224
HomePlanet_Mars,0.016081,0.245451,-0.124781,0.111257,-0.088140,-0.111875,-0.287022,1.000000,-0.077488,-0.001669,0.032715,0.003647,0.043523,0.019544,-0.111260,0.170778,0.010346
HomePlanet_Unknown,-0.000361,-0.004954,-0.018672,-0.007951,-0.010697,-0.002694,-0.087673,-0.077488,1.000000,-0.014804,0.007671,-0.008585,0.002041,0.002712,-0.006383,0.021721,-0.001113
CryoSleep_0.5,-0.010071,-0.001508,0.000281,-0.007155,-0.004656,-0.001327,0.008236,-0.001669,-0.014804,1.000000,-0.117247,0.009436,-0.009700,-0.004846,-0.002225,0.003710,-0.002798
CryoSleep_True,-0.070736,-0.243986,-0.205682,-0.206366,-0.198392,-0.193107,0.093395,0.032715,0.007671,-0.117247,1.000000,0.006518,-0.078281,0.460132,0.087764,-0.103213,-0.026263
VIP_0.5,-0.009462,0.013963,-0.001681,-0.019823,-0.008187,-0.001254,-0.013747,0.003647,-0.008585,0.009436,0.006518,1.000000,-0.023668,0.002688,0.009011,-0.006743,-0.001331
VIP_True,0.091574,0.056595,0.126006,0.018483,0.060573,0.123092,0.147008,0.043523,0.002041,-0.009700,-0.078281,-0.023668,1.000000,-0.037261,-0.000592,-0.035309,-0.011638
Transported_True,-0.074249,-0.242048,0.046074,0.010019,-0.218791,-0.204825,0.176916,0.019544,0.002712,-0.004846,0.460132,0.002688,-0.037261,1.000000,0.000092,-0.094700,0.000547
Destination_PSO J318.5-22,-0.028247,-0.062828,-0.065542,-0.031397,-0.053428,-0.045454,-0.163308,-0.111260,-0.006383,-0.002225,0.087764,0.009011,-0.000592,0.000092,1.000000,-0.463273,-0.046427
Destination_TRAPPIST-1e,-0.001036,0.061162,-0.073620,0.032770,-0.034492,-0.046643,-0.149679,0.170778,0.021721,0.003710,-0.103213,-0.006743,-0.035309,-0.094700,-0.463273,1.000000,-0.213381
Destination_Unknown,0.012990,-0.003900,-0.010244,-0.005714,0.007020,-0.010716,-0.014224,0.010346,-0.001113,-0.002798,-0.026263,-0.001331,-0.011638,0.000547,-0.046427,-0.213381,1.000000

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
X= df1.drop(['Name' ,'Cabin','Transported_True','CryoSleep_0.5','HomePlanet_Unknown','VIP_0.5','Destination_Unknown'] , axis=1 )
y= df1[['Transported_True']]

In [13]:
from sklearn.preprocessing import StandardScaler

In [14]:
X

,PassengerId,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,HomePlanet_Europa,HomePlanet_Mars,CryoSleep_True,VIP_True,Destination_PSO J318.5-22,Destination_TRAPPIST-1e
0,0001_01,39.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0,0,1
1,0002_01,24.0,109.0,9.0,25.0,549.0,44.0,0,0,0,0,0,1
2,0003_01,58.0,43.0,3576.0,0.0,6715.0,49.0,1,0,0,1,0,1
3,0003_02,33.0,0.0,1283.0,371.0,3329.0,193.0,1,0,0,0,0,1
4,0004_01,16.0,303.0,70.0,151.0,565.0,2.0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,41.0,0.0,6819.0,0.0,1643.0,74.0,1,0,0,1,0,0
8689,9278_01,18.0,0.0,0.0,0.0,0.0,0.0,0,0,1,0,1,0
8690,9279_01,26.0,0.0,0.0,1872.0,1.0,0.0,0,0,0,0,0,1
8691,9280_01,32.0,0.0,1049.0,0.0,353.0,3235.0,1,0,0,0,0,0
8692,9280_02,44.0,126.0,4688.0,0.0,0.0,12.0,1,0,0,0,0,1

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3,random_state=42 )

In [16]:
scale = StandardScaler()
X1_train = X_train.drop(['PassengerId'] , axis=1)
X1_test = X_test.drop(['PassengerId'],axis=1)
X1_train = scale.fit_transform(X1_train)
X1_test = scale.transform(X1_test)

In [17]:
from sklearn.ensemble import RandomForestClassifier

In [18]:
rf = RandomForestClassifier(n_estimators=120 , random_state = 42)

In [19]:
rf.fit(X1_train ,y_train)

C:\Users\mohit\anaconda3\envs\tf-gpu\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier(n_estimators=120, random_state=42)

In [20]:
predict = rf.predict(X1_test)

In [21]:
from sklearn.metrics import classification_report

In [22]:
print(classification_report(y_test , predict))

              precision    recall  f1-score   support

           0       0.77      0.76      0.77      1289
           1       0.77      0.78      0.78      1319

    accuracy                           0.77      2608
   macro avg       0.77      0.77      0.77      2608
weighted avg       0.77      0.77      0.77      2608

In [23]:
from sklearn import metrics

metrics.mean_squared_error(y_test , predict)

0.2281441717791411

In [24]:
from sklearn.metrics import f1_score
f1_score(y_test, predict)

0.7765677806984604

In [25]:
from xgboost import XGBClassifier
xg = XGBClassifier()
xg.fit(X1_train , y_train)

C:\Users\mohit\anaconda3\envs\tf-gpu\lib\site-packages\xgboost\sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
C:\Users\mohit\anaconda3\envs\tf-gpu\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

[15:20:02] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.1/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
              gamma=0, gpu_id=-1, importance_type=None,
              interaction_constraints='', learning_rate=0.300000012,
              max_delta_step=0, max_depth=6, min_child_weight=1, missing=nan,
              monotone_constraints='()', n_estimators=100, n_jobs=16,
              num_parallel_tree=1, predictor='auto', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [26]:
predi = xg.predict(X1_test)
predi

array([0, 1, 1, ..., 0, 1, 0], dtype=uint8)

In [27]:
from sklearn.metrics import classification_report
print(classification_report(y_test , predi))

              precision    recall  f1-score   support

           0       0.79      0.75      0.77      1289
           1       0.76      0.80      0.78      1319

    accuracy                           0.77      2608
   macro avg       0.78      0.77      0.77      2608
weighted avg       0.78      0.77      0.77      2608

In [28]:
from sklearn.metrics import f1_score
f1_score(y_test, predi)

0.7827050997782705

In [29]:
from sklearn.svm import SVC
svr = SVC()

In [30]:
svr.fit(X1_train , y_train)
predic = svr.predict(X1_test)

C:\Users\mohit\anaconda3\envs\tf-gpu\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

In [31]:
from sklearn.metrics import classification_report
print(classification_report(y_test , predic))

              precision    recall  f1-score   support

           0       0.78      0.78      0.78      1289
           1       0.78      0.78      0.78      1319

    accuracy                           0.78      2608
   macro avg       0.78      0.78      0.78      2608
weighted avg       0.78      0.78      0.78      2608

In [32]:
from sklearn.metrics import f1_score
f1_score(y_test, predic)

0.782707622298066

In [34]:
from sklearn.model_selection import GridSearchCV
param_grid = {
    'bootstrap': [True],
    'max_depth': [5 , 8, 10 ,12 ,15],# ,80, 90, 100, 110
    "max_features" : ['sqrt', 'log2'],
    'min_samples_leaf': [3, 4, 5],
    'min_samples_split': [8, 10, 12],
    'n_estimators': [100, 200, 300, 500 ,1000]
}
rf1 = RandomForestClassifier()
grid_search = GridSearchCV(estimator = rf1, param_grid = param_grid, 
                          cv = 3, n_jobs = -1, verbose = 2)

In [35]:
grid_search.fit(X1_train ,y_train)

Fitting 3 folds for each of 450 candidates, totalling 1350 fits

C:\Users\mohit\anaconda3\envs\tf-gpu\lib\site-packages\sklearn\model_selection\_search.py:880: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

GridSearchCV(cv=3, estimator=RandomForestClassifier(), n_jobs=-1,
             param_grid={'bootstrap': [True], 'max_depth': [5, 8, 10, 12, 15],
                         'max_features': ['sqrt', 'log2'],
                         'min_samples_leaf': [3, 4, 5],
                         'min_samples_split': [8, 10, 12],
                         'n_estimators': [100, 200, 300, 500, 1000]},
             verbose=2)

In [36]:
grid_search.best_params_

{'bootstrap': True,
 'max_depth': 15,
 'max_features': 'log2',
 'min_samples_leaf': 3,
 'min_samples_split': 12,
 'n_estimators': 500}

In [37]:
best_grid = grid_search.best_estimator_
grid_predictions = grid_search.predict(X1_test)

In [38]:
print(classification_report(y_test , grid_predictions))

              precision    recall  f1-score   support

           0       0.82      0.75      0.78      1289
           1       0.77      0.84      0.81      1319

    accuracy                           0.80      2608
   macro avg       0.80      0.79      0.79      2608
weighted avg       0.80      0.80      0.79      2608

In [39]:
from sklearn.metrics import f1_score
f1_score(y_test, grid_predictions)

0.8056768558951964

In [46]:
from sklearn.model_selection import GridSearchCV

param_grid = {"learning_rate" : [0.01,0.05, 0.10, 0.15, 0.20, 0.25, 0.30 ] ,
 "max_depth"        : [ 3, 4, 5, 6, 8, 10, 12, 15],
 "min_child_weight" : [ 1, 3, 5, 7 ],
 "gamma"            : [ 0.0, 0.1, 0.2 , 0.3, 0.4 ],
 "colsample_bytree" : [ 0.3, 0.4, 0.5 , 0.7 ] 
}
gs_XG = GridSearchCV(XGBClassifier(), param_grid = param_grid, verbose = 2 , n_jobs=-1 , cv=3)

In [47]:
gs_XG.fit(X1_train ,y_train)

Fitting 3 folds for each of 3840 candidates, totalling 11520 fits
[14:49:16] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.1/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

C:\Users\mohit\anaconda3\envs\tf-gpu\lib\site-packages\xgboost\sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
C:\Users\mohit\anaconda3\envs\tf-gpu\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

GridSearchCV(cv=3,
             estimator=XGBClassifier(base_score=None, booster=None,
                                     colsample_bylevel=None,
                                     colsample_bynode=None,
                                     colsample_bytree=None,
                                     enable_categorical=False, gamma=None,
                                     gpu_id=None, importance_type=None,
                                     interaction_constraints=None,
                                     learning_rate=None, max_delta_step=None,
                                     max_depth=None, min_child_weight=None,
                                     missing=nan, monotone_constraints=None,...
                                     random_state=None, reg_alpha=None,
                                     reg_lambda=None, scale_pos_weight=None,
                                     subsample=None, tree_method=None,
                                     validate_parameters=None, verbosity=None),
             n_jobs=-1,
             param_grid={'colsample_bytree': [0.3, 0.4, 0.5, 0.7],
                         'gamma': [0.0, 0.1, 0.2, 0.3, 0.4],
                         'learning_rate': [0.05, 0.1, 0.15, 0.2, 0.25, 0.3],
                         'max_depth': [3, 4, 5, 6, 8, 10, 12, 15],
                         'min_child_weight': [1, 3, 5, 7]},
             verbose=2)

In [48]:
gs_XG.best_params_

{'colsample_bytree': 0.7,
 'gamma': 0.1,
 'learning_rate': 0.1,
 'max_depth': 4,
 'min_child_weight': 1}

In [49]:
grid_predictions_XG = gs_XG.predict(X1_test)

In [50]:
print(classification_report(y_test , grid_predictions_XG))

              precision    recall  f1-score   support

           0       0.81      0.73      0.77      1289
           1       0.76      0.84      0.80      1319

    accuracy                           0.79      2608
   macro avg       0.79      0.79      0.79      2608
weighted avg       0.79      0.79      0.79      2608

In [51]:
from sklearn.metrics import f1_score
f1_score(y_test, grid_predictions_XG)

0.7985533453887883

In [33]:
from sklearn.model_selection import GridSearchCV
param_grid = {'C':[1,10,100,1000],'gamma':[1,0.1,0.001,0.0001], 'kernel':['rbf','sigmoid']}
gs_SVC = GridSearchCV(SVC(), param_grid = param_grid, verbose = 2 , n_jobs=-1 , cv=3)

In [34]:
gs_SVC.fit(X1_train ,y_train)

Fitting 3 folds for each of 32 candidates, totalling 96 fits

C:\Users\mohit\anaconda3\envs\tf-gpu\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

GridSearchCV(cv=3, estimator=SVC(), n_jobs=-1,
             param_grid={'C': [1, 10, 100, 1000],
                         'gamma': [1, 0.1, 0.001, 0.0001],
                         'kernel': ['rbf', 'sigmoid']},
             verbose=2)

In [35]:
gs_SVC.best_params_

{'C': 1000, 'gamma': 0.001, 'kernel': 'rbf'}

In [36]:
grid_predictions_SVC = gs_SVC.predict(X1_test)

In [37]:
print(classification_report(y_test , grid_predictions_SVC))

              precision    recall  f1-score   support

           0       0.79      0.76      0.77      1289
           1       0.77      0.80      0.79      1319

    accuracy                           0.78      2608
   macro avg       0.78      0.78      0.78      2608
weighted avg       0.78      0.78      0.78      2608

In [38]:
from sklearn.metrics import f1_score
f1_score(y_test, grid_predictions_SVC)

0.7881040892193307

In [51]:
from sklearn.naive_bayes import BernoulliNB
NB = BernoulliNB()

In [52]:
NB.fit(X1_train ,y_train)

C:\Users\mohit\anaconda3\envs\tf-gpu\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

BernoulliNB()

In [53]:
NB_predict = NB.predict(X1_test)

In [54]:
print(classification_report(y_test ,NB_predict ))

              precision    recall  f1-score   support

           0       0.73      0.81      0.77      1289
           1       0.79      0.70      0.75      1319

    accuracy                           0.76      2608
   macro avg       0.76      0.76      0.76      2608
weighted avg       0.76      0.76      0.76      2608

In [56]:
submission_df = pd.DataFrame()
submission_df['PassengerId'] = X1_test['PassengerId']
submission_df['Transported'] = grid_predictions

In [57]:
print(submission_df.head())

     PassengerId  Transported
1737     1850_01            1
5181     5528_01            0
7218     7711_01            0
4931     5255_01            1
2995     3238_01            1

In [55]:
df_test = pd.read_csv("test.csv")

In [56]:
df2 = df_test.copy()
df2

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4272,9266_02,Earth,True,G/1496/S,TRAPPIST-1e,34.0,False,0.0,0.0,0.0,0.0,0.0,Jeron Peter
4273,9269_01,Earth,False,NaN,TRAPPIST-1e,42.0,False,0.0,847.0,17.0,10.0,144.0,Matty Scheron
4274,9271_01,Mars,True,D/296/P,55 Cancri e,NaN,False,0.0,0.0,0.0,0.0,0.0,Jayrin Pore
4275,9273_01,Europa,False,D/297/P,NaN,NaN,False,0.0,2680.0,0.0,0.0,523.0,Kitakan Conale
4276,9277_01,Earth,True,G/1498/S,PSO J318.5-22,43.0,False,0.0,0.0,0.0,0.0,0.0,Lilace Leonzaley

In [57]:
df2.isnull().sum()

PassengerId       0
HomePlanet       87
CryoSleep        93
Cabin           100
Destination      92
Age              91
VIP              93
RoomService      82
FoodCourt       106
ShoppingMall     98
Spa             101
VRDeck           80
Name             94
dtype: int64

In [58]:
df2['CryoSleep'].fillna(0.5 , inplace=True)
df2['VIP'].fillna(0.5 , inplace=True)
df2['Destination'].fillna('Unknown' , inplace=True)
df2['HomePlanet'].fillna('Unknown' , inplace=True)

In [59]:
df2['Age'].fillna(df2['Age'].mean() , inplace=True)
df2['RoomService'].fillna(df2['RoomService'].mean() , inplace=True)
df2['ShoppingMall'].fillna(df2['ShoppingMall'].mean() , inplace=True)
df2['Spa'].fillna(df2['Spa'].mean() , inplace=True)
df2['VRDeck'].fillna(df2['VRDeck'].mean() , inplace=True)
df2['FoodCourt'].fillna(df2['FoodCourt'].mean() , inplace=True)

In [60]:
df2= pd.get_dummies(df2 ,columns=[ 'HomePlanet','CryoSleep','VIP','Destination'], drop_first=True)

df2

,PassengerId,Cabin,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,HomePlanet_Europa,HomePlanet_Mars,HomePlanet_Unknown,CryoSleep_0.5,CryoSleep_True,VIP_0.5,VIP_True,Destination_PSO J318.5-22,Destination_TRAPPIST-1e,Destination_Unknown
0,0013_01,G/3/S,27.000000,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning,0,0,0,0,1,0,0,0,1,0
1,0018_01,F/4/S,19.000000,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers,0,0,0,0,0,0,0,0,1,0
2,0019_01,C/0/S,31.000000,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus,1,0,0,0,1,0,0,0,0,0
3,0021_01,C/1/S,38.000000,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter,1,0,0,0,0,0,0,0,1,0
4,0023_01,F/5/S,20.000000,10.0,0.0,635.0,0.0,0.0,Brence Harperez,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4272,9266_02,G/1496/S,34.000000,0.0,0.0,0.0,0.0,0.0,Jeron Peter,0,0,0,0,1,0,0,0,1,0
4273,9269_01,NaN,42.000000,0.0,847.0,17.0,10.0,144.0,Matty Scheron,0,0,0,0,0,0,0,0,1,0
4274,9271_01,D/296/P,28.658146,0.0,0.0,0.0,0.0,0.0,Jayrin Pore,0,1,0,0,1,0,0,0,0,0
4275,9273_01,D/297/P,28.658146,0.0,2680.0,0.0,0.0,523.0,Kitakan Conale,1,0,0,0,0,0,0,0,0,1
4276,9277_01,G/1498/S,43.000000,0.0,0.0,0.0,0.0,0.0,Lilace Leonzaley,0,0,0,0,1,0,0,1,0,0

In [61]:
X_t= df2.drop(['Name' ,'Cabin','PassengerId','CryoSleep_0.5','HomePlanet_Unknown','VIP_0.5','Destination_Unknown'] , axis=1 )

In [62]:
X_t

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,HomePlanet_Europa,HomePlanet_Mars,CryoSleep_True,VIP_True,Destination_PSO J318.5-22,Destination_TRAPPIST-1e
0,27.000000,0.0,0.0,0.0,0.0,0.0,0,0,1,0,0,1
1,19.000000,0.0,9.0,0.0,2823.0,0.0,0,0,0,0,0,1
2,31.000000,0.0,0.0,0.0,0.0,0.0,1,0,1,0,0,0
3,38.000000,0.0,6652.0,0.0,181.0,585.0,1,0,0,0,0,1
4,20.000000,10.0,0.0,635.0,0.0,0.0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
4272,34.000000,0.0,0.0,0.0,0.0,0.0,0,0,1,0,0,1
4273,42.000000,0.0,847.0,17.0,10.0,144.0,0,0,0,0,0,1
4274,28.658146,0.0,0.0,0.0,0.0,0.0,0,1,1,0,0,0
4275,28.658146,0.0,2680.0,0.0,0.0,523.0,1,0,0,0,0,0
4276,43.000000,0.0,0.0,0.0,0.0,0.0,0,0,1,0,1,0

In [63]:
#grid_predictions_XG = gs_XG.predict(X_t)

In [68]:
grid_predictions = grid_search.predict(X_t)

In [69]:
submission_df = pd.DataFrame()
submission_df['PassengerId'] = df2['PassengerId']
submission_df['Transported'] = grid_predictions

In [70]:
submission_df['Transported'] = submission_df['Transported'].astype(bool)

In [71]:
print(submission_df.head())

  PassengerId  Transported
0     0013_01         True
1     0018_01        False
2     0019_01         True
3     0021_01        False
4     0023_01        False

In [72]:
submission_df.to_csv('submission5.csv',index=False)